.wrapper{
    display: grid;
    grid-template-columns:repeat(6,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-auto-flow: column dense;
    grid-gap: .1em;
    justify-items: stretch;
    
    /* align-items: stretch;  */
}

.box{
    background: lightgray;
}

.image{
    width: 100%;
    vertical-align: bottom;
   
}

.Jaime, .Cersei, .Joffrey{
    background:#e7cd8c;
}

.Arya, .Bran, .Catelyn, .Ned, .Rob, .Sansa{
    background:#5ebeed;
}
.Khaleesi {
    background: #c64535;
}
.Jon{
    background:linear-gradient(to left, #5ebeed 10%, #c64535 );
}
.Jorah{
    background: #f2d8b0;
}
.Hodor{
    background:#6ccdd2;
}
.Beric{
    background: #6a3776;
}
.Margaery {
    background: #447532;
}
.Melisandre{
    background: darkred;
}
.Oberyn {
    background: #e28a4b;
}
.Theon{
    background: black;
}

.active {
    grid-row: 1/3;
    grid-column: span 2;
}

.active2{
    grid-row: 1/3;
    grid-column: span 2;
}


